revision/49147.json.gz filter=lfs diff=lfs merge=lfs -text
revision/265083.json.gz filter=lfs diff=lfs merge=lfs -text
baselist/dic/doi+crossref_metadata.jsonl.gz filter=lfs diff=lfs merge=lfs -text
baselist/dic/doi+issn+field.jsonl.gz filter=lfs diff=lfs merge=lfs -text
baselist/dic/list_bot.jsonl.gz filter=lfs diff=lfs merge=lfs -text
parscit/49147.xml.gz filter=lfs diff=lfs merge=lfs -text
parscit/265083.txt.gz filter=lfs diff=lfs merge=lfs -text
parscit/265083.xml.gz filter=lfs diff=lfs merge=lfs -text
parscit/49147.txt.gz filter=lfs diff=lfs merge=lfs -text
revision/49147_ref_and_cites.json.gz filter=lfs diff=lfs merge=lfs -text
revision/265083_ref_and_cites.json.gz filter=lfs diff=lfs merge=lfs -text
result/49147_final.jsonl.gz filter=lfs diff=lfs merge=lfs -text
result/49147_identifiers.json.gz filter=lfs diff=lfs merge=lfs -text
result/49147_paper_title_similarity.json.gz filter=lfs diff=lfs merge=lfs -text
result/265083_paper_title_fulltext.json.gz filter=lfs diff=lfs merge=lfs -text
result/265083_merge.json.gz filter=lfs diff=lfs merge=lfs -text
result/265083_paper_title_similarity.json.gz filter=lfs diff=lfs merge=lfs -text
result/49147_merge.json.gz filter=lfs diff=lfs merge=lfs -text
result/49147_paper_title_fulltext.json.gz filter=lfs diff=lfs merge=lfs -text
result/265083_final.jsonl.gz filter=lfs diff=lfs merge=lfs -text
result/265083_identifiers.json.gz filter=lfs diff=lfs merge=lfs -text
